$back-color: #EEEEEE;
$navback-color: #c1c1c1;
$toast-color: #bebebe83;

$font-color: #212427;
$line-color: #212427;

$font-color-card_expl: #696969;

$font-color-head_link: #696969;

$font-family: 'Barlow', 'Montserrat', sans-serif;
$primary-font: 'Barlow', sans-serif;
$secondary-font: 'Montserrat', sans-serif;


$font-size-card_tittle: 2.5rem;
$font-size-card_expl: 1.5rem;
$font-size-card_button: 1.8rem;

$font-size-titulo-ppal: 8rem;
